# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
starter/frontend/node_modules/.staging/@babel/helper-plugin-utils-284d2d98/LICENSE
starter/frontend/node_modules/.staging/@babel/helper-plugin-utils-284d2d98/package.json
starter/frontend/node_modules/.staging/@babel/helper-plugin-utils-284d2d98/README.md
starter/frontend/node_modules/.staging/@babel/helper-plugin-utils-284d2d98/src/index.js
starter/frontend/node_modules/.staging/@babel/parser-56e1ba5f/CHANGELOG.md
starter/frontend/node_modules/.staging/@babel/parser-56e1ba5f/LICENSE
starter/frontend/node_modules/.staging/@babel/parser-56e1ba5f/package.json
starter/frontend/node_modules/.staging/@babel/parser-56e1ba5f/README.md
starter/frontend/node_modules/.staging/@babel/parser-56e1ba5f/bin/babel-parser.js
starter/frontend/node_modules/.staging/@babel/plugin-proposal-json-strings-087e3e28/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-proposal-json-strings-087e3e28/package.json
starter/frontend/node_modules/.staging/@babel/plugin-proposal-json-strings-087e3e28/README.md
starter/frontend/node_modules/.staging/@babel/plugin-proposal-object-rest-spread-7d48161b/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-proposal-object-rest-spread-7d48161b/package.json
starter/frontend/node_modules/.staging/@babel/plugin-proposal-object-rest-spread-7d48161b/README.md
starter/frontend/node_modules/.staging/@babel/plugin-proposal-optional-catch-binding-ef4246d8/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-proposal-optional-catch-binding-ef4246d8/package.json
starter/frontend/node_modules/.staging/@babel/plugin-proposal-optional-catch-binding-ef4246d8/README.md
starter/frontend/node_modules/.staging/@babel/plugin-syntax-async-generators-7416b80f/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-syntax-async-generators-7416b80f/package.json
starter/frontend/node_modules/.staging/@babel/plugin-syntax-async-generators-7416b80f/README.md
starter/frontend/node_modules/.staging/@babel/plugin-syntax-decorators-86d88d33/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-syntax-decorators-86d88d33/package.json
starter/frontend/node_modules/.staging/@babel/plugin-syntax-decorators-86d88d33/README.md
starter/frontend/node_modules/.staging/@babel/plugin-syntax-dynamic-import-1c4e49f0/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-syntax-dynamic-import-1c4e49f0/package.json
starter/frontend/node_modules/.staging/@babel/plugin-syntax-dynamic-import-1c4e49f0/README.md
starter/frontend/node_modules/.staging/@babel/plugin-syntax-flow-253a7117/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-syntax-flow-253a7117/README.md
starter/frontend/node_modules/.staging/@babel/plugin-syntax-json-strings-73fee54e/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-syntax-json-strings-73fee54e/package.json
starter/frontend/node_modules/.staging/@babel/plugin-syntax-json-strings-73fee54e/README.md
starter/frontend/node_modules/.staging/@babel/plugin-syntax-jsx-d5fb783d/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-syntax-jsx-d5fb783d/package.json
starter/frontend/node_modules/.staging/@babel/plugin-syntax-jsx-d5fb783d/README.md
starter/frontend/node_modules/.staging/@babel/plugin-syntax-object-rest-spread-eab12142/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-syntax-object-rest-spread-eab12142/package.json
starter/frontend/node_modules/.staging/@babel/plugin-syntax-object-rest-spread-eab12142/README.md
starter/frontend/node_modules/.staging/@babel/plugin-syntax-optional-catch-binding-225d8774/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-syntax-optional-catch-binding-225d8774/package.json
starter/frontend/node_modules/.staging/@babel/plugin-syntax-optional-catch-binding-225d8774/README.md
starter/frontend/node_modules/.staging/@babel/plugin-syntax-typescript-2db811af/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-syntax-typescript-2db811af/package.json
starter/frontend/node_modules/.staging/@babel/plugin-syntax-typescript-2db811af/README.md
starter/frontend/node_modules/.staging/@babel/plugin-transform-arrow-functions-fb3cfdb4/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-transform-arrow-functions-fb3cfdb4/package.json
starter/frontend/node_modules/.staging/@babel/plugin-transform-arrow-functions-fb3cfdb4/README.md
starter/frontend/node_modules/.staging/@babel/plugin-transform-block-scoped-functions-a58855c1/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-transform-block-scoped-functions-a58855c1/package.json
starter/frontend/node_modules/.staging/@babel/plugin-transform-block-scoped-functions-a58855c1/README.md
starter/frontend/node_modules/.staging/@babel/plugin-transform-computed-properties-ccf9ef98/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-transform-computed-properties-ccf9ef98/package.json
starter/frontend/node_modules/.staging/@babel/plugin-transform-computed-properties-ccf9ef98/README.md
starter/frontend/node_modules/.staging/@babel/plugin-transform-destructuring-e5aaec7f/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-transform-destructuring-e5aaec7f/package.json
starter/frontend/node_modules/.staging/@babel/plugin-transform-destructuring-e5aaec7f/README.md
starter/frontend/node_modules/.staging/@babel/plugin-transform-duplicate-keys-1cef4e81/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-transform-duplicate-keys-1cef4e81/package.json
starter/frontend/node_modules/.staging/@babel/plugin-transform-duplicate-keys-1cef4e81/README.md
starter/frontend/node_modules/.staging/@babel/plugin-transform-flow-strip-types-91addae0/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-transform-flow-strip-types-91addae0/package.json
starter/frontend/node_modules/.staging/@babel/plugin-transform-flow-strip-types-91addae0/README.md
starter/frontend/node_modules/.staging/@babel/plugin-transform-for-of-47e640b1/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-transform-for-of-47e640b1/package.json
starter/frontend/node_modules/.staging/@babel/plugin-transform-for-of-47e640b1/README.md
starter/frontend/node_modules/.staging/@babel/plugin-transform-literals-47f370da/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-transform-literals-47f370da/package.json
starter/frontend/node_modules/.staging/@babel/plugin-transform-literals-47f370da/README.md
starter/frontend/node_modules/.staging/@babel/plugin-transform-member-expression-literals-b386fe82/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-transform-member-expression-literals-b386fe82/package.json
starter/frontend/node_modules/.staging/@babel/plugin-transform-member-expression-literals-b386fe82/README.md
starter/frontend/node_modules/.staging/@babel/plugin-transform-new-target-c422d417/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-transform-new-target-c422d417/package.json
starter/frontend/node_modules/.staging/@babel/plugin-transform-new-target-c422d417/README.md
starter/frontend/node_modules/.staging/@babel/plugin-transform-property-literals-f963544c/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-transform-property-literals-f963544c/package.json
starter/frontend/node_modules/.staging/@babel/plugin-transform-property-literals-f963544c/README.md
starter/frontend/node_modules/.staging/@babel/plugin-transform-react-display-name-c2d4494a/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-transform-react-display-name-c2d4494a/package.json
starter/frontend/node_modules/.staging/@babel/plugin-transform-react-display-name-c2d4494a/README.md
starter/frontend/node_modules/.staging/@babel/plugin-transform-react-jsx-self-54d0d907/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-transform-react-jsx-self-54d0d907/package.json
starter/frontend/node_modules/.staging/@babel/plugin-transform-react-jsx-self-54d0d907/README.md
starter/frontend/node_modules/.staging/@babel/plugin-transform-react-jsx-source-4e6f68bd/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-transform-react-jsx-source-4e6f68bd/package.json
starter/frontend/node_modules/.staging/@babel/plugin-transform-react-jsx-source-4e6f68bd/README.md
starter/frontend/node_modules/.staging/@babel/plugin-transform-reserved-words-ae6b7d3d/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-transform-reserved-words-ae6b7d3d/package.json
starter/frontend/node_modules/.staging/@babel/plugin-transform-reserved-words-ae6b7d3d/README.md
starter/frontend/node_modules/.staging/@babel/plugin-transform-shorthand-properties-e676f830/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-transform-shorthand-properties-e676f830/package.json
starter/frontend/node_modules/.staging/@babel/plugin-transform-shorthand-properties-e676f830/README.md
starter/frontend/node_modules/.staging/@babel/plugin-transform-spread-595b44f0/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-transform-spread-595b44f0/package.json
starter/frontend/node_modules/.staging/@babel/plugin-transform-spread-595b44f0/README.md
starter/frontend/node_modules/.staging/@babel/plugin-transform-typeof-symbol-15c0430d/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-transform-typeof-symbol-15c0430d/package.json
starter/frontend/node_modules/.staging/@babel/plugin-transform-typeof-symbol-15c0430d/README.md
starter/frontend/node_modules/.staging/@babel/plugin-transform-typescript-7a2b6037/LICENSE
starter/frontend/node_modules/.staging/@babel/plugin-transform-typescript-7a2b6037/package.json
starter/frontend/node_modules/.staging/@babel/plugin-transform-typescript-7a2b6037/README.md
starter/frontend/node_modules/.staging/@babel/preset-typescript-571ef65c/LICENSE
starter/frontend/node_modules/.staging/@babel/preset-typescript-571ef65c/package.json
starter/frontend/node_modules/.staging/@babel/preset-typescript-571ef65c/README.md
starter/frontend/node_modules/.staging/@babel/preset-typescript-571ef65c/src/index.js
starter/frontend/node_modules/.staging/@babel/preset-typescript-571ef65c/test/fixtures/flow-compat/js-invalid/input.js
starter/frontend/node_modules/.staging/@babel/preset-typescript-571ef65c/test/fixtures/flow-compat/js-invalid/options.json
starter/frontend/node_modules/.staging/@csstools/convert-colors-303c9ae7/CHANGELOG.md
starter/frontend/node_modules/.staging/@csstools/convert-colors-303c9ae7/index.bundle.js
starter/frontend/node_modules/.staging/@csstools/convert-colors-303c9ae7/index.js
starter/frontend/node_modules/.staging/@csstools/convert-colors-303c9ae7/LICENSE.md
starter/frontend/node_modules/.staging/@csstools/convert-colors-303c9ae7/package.json
starter/frontend/node_modules/.staging/@csstools/convert-colors-303c9ae7/README.md
starter/frontend/node_modules/.staging/@csstools/normalize.css-f59ef65a/CHANGELOG.md
starter/frontend/node_modules/.staging/@csstools/normalize.css-f59ef65a/LICENSE.md
starter/frontend/node_modules/.staging/@csstools/normalize.css-f59ef65a/normalize.css
starter/frontend/node_modules/.staging/@csstools/normalize.css-f59ef65a/package.json
starter/frontend/node_modules/.staging/@csstools/normalize.css-f59ef65a/README.md
starter/frontend/node_modules/.staging/@hapi/address-7d7ed498/.travis.yml
starter/frontend/node_modules/.staging/@hapi/address-7d7ed498/CHANGELOG.md
starter/frontend/node_modules/.staging/@hapi/address-7d7ed498/LICENSE.md
starter/frontend/node_modules/.staging/@hapi/address-7d7ed498/package.json
starter/frontend/node_modules/.staging/@hapi/address-7d7ed498/README.md
starter/frontend/node_modules/.staging/@hapi/address-7d7ed498/bench/test.js
starter/frontend/node_modules/.staging/@hapi/address-7d7ed498/test/index.js
starter/frontend/node_modules/.staging/@hapi/hoek-d890849b/CHANGELOG.md
starter/frontend/node_modules/.staging/@hapi/hoek-d890849b/LICENSE.md
starter/frontend/node_modules/.staging/@hapi/hoek-d890849b/package.json
starter/frontend/node_modules/.staging/@hapi/hoek-d890849b/README.md
starter/frontend/node_modules/.staging/@hapi/joi-642f4829/CHANGELOG.md
starter/frontend/node_modules/.staging/@hapi/joi-642f4829/LICENSE.md
starter/frontend/node_modules/.staging/@hapi/joi-642f4829/package.json
starter/frontend/node_modules/.staging/@hapi/joi-642f4829/README.md
starter/frontend/node_modules/.staging/@hapi/topo-b8cb6033/CHANGELOG.md
starter/frontend/node_modules/.staging/@hapi/topo-b8cb6033/LICENSE.md
starter/frontend/node_modules/.staging/@hapi/topo-b8cb6033/package.json
starter/frontend/node_modules/.staging/@hapi/topo-b8cb6033/README.md
starter/frontend/node_modules/.staging/@jest/reporters-398e70c5/LICENSE
starter/frontend/node_modules/.staging/@jest/reporters-398e70c5/package.json
starter/frontend/node_modules/.staging/@jest/reporters-398e70c5/tsconfig.json
starter/frontend/node_modules/.staging/@jest/reporters-398e70c5/tsconfig.tsbuildinfo
starter/frontend/node_modules/.staging/@jest/test-sequencer-efa1ff13/LICENSE
starter/frontend/node_modules/.staging/@jest/test-sequencer-efa1ff13/package.json
starter/frontend/node_modules/.staging/@jest/test-sequencer-efa1ff13/tsconfig.json
starter/frontend/node_modules/.staging/@jest/test-sequencer-efa1ff13/tsconfig.tsbuildinfo
starter/frontend/node_modules/.staging/@nodelib/fs.stat-201ba426/package.json
starter/frontend/node_modules/.staging/@nodelib/fs.stat-201ba426/README.md
starter/frontend/node_modules/.staging/@nodelib/fs.stat-201ba426/out/index.d.ts
starter/frontend/node_modules/.staging/@nodelib/fs.stat-201ba426/out/index.js
starter/frontend/node_modules/.staging/@nodelib/fs.stat-201ba426/out/adapters/fs.d.ts
starter/frontend/node_modules/.staging/@nodelib/fs.stat-201ba426/out/adapters/fs.js
starter/frontend/node_modules/.staging/@nodelib/fs.stat-201ba426/out/managers/options.d.ts
starter/frontend/node_modules/.staging/@nodelib/fs.stat-201ba426/out/managers/options.js
starter/frontend/node_modules/.staging/@nodelib/fs.stat-201ba426/out/providers/stat.d.ts
starter/frontend/node_modules/.staging/@nodelib/fs.stat-201ba426/out/providers/stat.js
starter/frontend/node_modules/.staging/@svgr/core-d16bd992/CHANGELOG.md
starter/frontend/node_modules/.staging/@svgr/core-d16bd992/package.json
starter/frontend/node_modules/.staging/@svgr/plugin-jsx-7e67cd52/package.json
starter/frontend/node_modules/.staging/@svgr/webpack-be356864/CHANGELOG.md
starter/frontend/node_modules/.staging/@svgr/webpack-be356864/LICENSE
starter/frontend/node_modules/.staging/@svgr/webpack-be356864/package.json
starter/frontend/node_modules/.staging/@svgr/webpack-be356864/README.md
starter/frontend/node_modules/.staging/ansi-regex-f2dc191d/index.js
starter/frontend/node_modules/.staging/ansi-regex-f2dc191d/license
starter/frontend/node_modules/.staging/ansi-regex-f2dc191d/package.json
starter/frontend/node_modules/.staging/ansi-regex-f2dc191d/readme.md
starter/frontend/node_modules/.staging/cacache-5afa5375/CHANGELOG.md
starter/frontend/node_modules/.staging/cacache-5afa5375/en.js
starter/frontend/node_modules/.staging/cacache-5afa5375/package.json
starter/frontend/node_modules/.staging/callsites-1233566f/index.d.ts
starter/frontend/node_modules/.staging/callsites-1233566f/index.js
starter/frontend/node_modules/.staging/callsites-1233566f/license
starter/frontend/node_modules/.staging/callsites-1233566f/package.json
starter/frontend/node_modules/.staging/callsites-1233566f/readme.md
starter/frontend/node_modules/.staging/hast-util-from-parse5-b073f314/index.js
starter/frontend/node_modules/.staging/hast-util-from-parse5-b073f314/package.json
starter/frontend/node_modules/.staging/hastscript-33322900/factory.js
starter/frontend/node_modules/.staging/hastscript-33322900/package.json
starter/frontend/node_modules/.staging/jest-c20a95a1/LICENSE
starter/frontend/node_modules/.staging/jest-c20a95a1/package.json
starter/frontend/node_modules/.staging/jest-c20a95a1/README.md
starter/frontend/node_modules/.staging/jest-c20a95a1/tsconfig.json
starter/frontend/node_modules/.staging/jest-c20a95a1/tsconfig.tsbuildinfo
starter/frontend/node_modules/.staging/jest-cli-067c30c4/LICENSE
starter/frontend/node_modules/.staging/jest-cli-067c30c4/package.json
starter/frontend/node_modules/.staging/jest-cli-067c30c4/README.md
starter/frontend/node_modules/.staging/jest-cli-067c30c4/tsconfig.json
starter/frontend/node_modules/.staging/jest-cli-067c30c4/tsconfig.tsbuildinfo
starter/frontend/node_modules/.staging/jest-config-8c843fa5/LICENSE
starter/frontend/node_modules/.staging/jest-config-8c843fa5/package.json
starter/frontend/node_modules/.staging/jest-config-8c843fa5/tsconfig.json
starter/frontend/node_modules/.staging/jest-config-8c843fa5/tsconfig.tsbuildinfo
starter/frontend/node_modules/.staging/jest-jasmine2-05b72bec/LICENSE
starter/frontend/node_modules/.staging/jest-jasmine2-05b72bec/package.json
starter/frontend/node_modules/.staging/jest-jasmine2-05b72bec/tsconfig.json
starter/frontend/node_modules/.staging/jest-jasmine2-05b72bec/tsconfig.tsbuildinfo
starter/frontend/node_modules/.staging/jest-runner-4a22da0e/LICENSE
starter/frontend/node_modules/.staging/jest-runner-4a22da0e/package.json
starter/frontend/node_modules/.staging/jest-runner-4a22da0e/tsconfig.json
starter/frontend/node_modules/.staging/jest-runner-4a22da0e/tsconfig.tsbuildinfo
starter/frontend/node_modules/.staging/jest-runtime-e351b5d2/LICENSE
starter/frontend/node_modules/.staging/jest-runtime-e351b5d2/package.json
starter/frontend/node_modules/.staging/jest-runtime-e351b5d2/tsconfig.json
starter/frontend/node_modules/.staging/jest-runtime-e351b5d2/tsconfig.tsbuildinfo
starter/frontend/node_modules/.staging/jquery-da40fb85/AUTHORS.txt
starter/frontend/node_modules/.staging/jquery-da40fb85/bower.json
starter/frontend/node_modules/.staging/jquery-da40fb85/LICENSE.txt
starter/frontend/node_modules/.staging/jquery-da40fb85/package.json
starter/frontend/node_modules/.staging/jquery-da40fb85/README.md
starter/frontend/node_modules/.staging/lru-cache-bbcd7c0a/index.js
starter/frontend/node_modules/.staging/lru-cache-bbcd7c0a/LICENSE
starter/frontend/node_modules/.staging/lru-cache-bbcd7c0a/package.json
starter/frontend/node_modules/.staging/mississippi-4c9772d1/changelog.md
starter/frontend/node_modules/.staging/mississippi-4c9772d1/index.js
starter/frontend/node_modules/.staging/mississippi-4c9772d1/license
starter/frontend/node_modules/.staging/mississippi-4c9772d1/package.json
starter/frontend/node_modules/.staging/mississippi-4c9772d1/readme.md
starter/frontend/node_modules/.staging/node-libs-browser-a1972377/index.js
starter/frontend/node_modules/.staging/node-libs-browser-a1972377/LICENSE
starter/frontend/node_modules/.staging/node-libs-browser-a1972377/package.json
starter/frontend/node_modules/.staging/node-libs-browser-a1972377/README.md
starter/frontend/node_modules/.staging/property-information-aa699534/package.json
starter/frontend/node_modules/.staging/react-8fd93726/build-info.json
starter/frontend/node_modules/.staging/react-8fd93726/index.js
starter/frontend/node_modules/.staging/react-8fd93726/LICENSE
starter/frontend/node_modules/.staging/react-8fd93726/package.json
starter/frontend/node_modules/.staging/react-8fd93726/README.md
starter/frontend/node_modules/.staging/react-8fd93726/cjs/react.development.js
starter/frontend/node_modules/.staging/react-dom-7345e2ff/build-info.json
starter/frontend/node_modules/.staging/react-dom-7345e2ff/index.js
starter/frontend/node_modules/.staging/react-dom-7345e2ff/LICENSE
starter/frontend/node_modules/.staging/react-dom-7345e2ff/package.json
starter/frontend/node_modules/.staging/react-dom-7345e2ff/profiling.js
starter/frontend/node_modules/.staging/react-dom-7345e2ff/README.md
starter/frontend/node_modules/.staging/react-dom-7345e2ff/server.browser.js
starter/frontend/node_modules/.staging/react-dom-7345e2ff/server.js
starter/frontend/node_modules/.staging/react-dom-7345e2ff/server.node.js
starter/frontend/node_modules/.staging/react-dom-7345e2ff/test-utils.js
starter/frontend/node_modules/.staging/react-dom-7345e2ff/unstable-fizz.browser.js
starter/frontend/node_modules/.staging/react-dom-7345e2ff/unstable-fizz.js
starter/frontend/node_modules/.staging/react-dom-7345e2ff/unstable-fizz.node.js
starter/frontend/node_modules/.staging/react-router-dom-0bff60f0/BrowserRouter.js
starter/frontend/node_modules/.staging/react-router-dom-0bff60f0/generatePath.js
starter/frontend/node_modules/.staging/react-router-dom-0bff60f0/HashRouter.js
starter/frontend/node_modules/.staging/react-router-dom-0bff60f0/index.js
starter/frontend/node_modules/.staging/react-router-dom-0bff60f0/LICENSE
starter/frontend/node_modules/.staging/react-router-dom-0bff60f0/Link.js
starter/frontend/node_modules/.staging/react-router-dom-0bff60f0/matchPath.js
starter/frontend/node_modules/.staging/react-router-dom-0bff60f0/MemoryRouter.js
starter/frontend/node_modules/.staging/react-router-dom-0bff60f0/NavLink.js
starter/frontend/node_modules/.staging/react-router-dom-0bff60f0/package.json
starter/frontend/node_modules/.staging/react-router-dom-0bff60f0/Prompt.js
starter/frontend/node_modules/.staging/react-router-dom-0bff60f0/README.md
starter/frontend/node_modules/.staging/react-router-dom-0bff60f0/Redirect.js
starter/frontend/node_modules/.staging/react-router-dom-0bff60f0/Route.js
starter/frontend/node_modules/.staging/react-router-dom-0bff60f0/Router.js
starter/frontend/node_modules/.staging/react-scripts-53da1ce4/LICENSE
starter/frontend/node_modules/.staging/react-scripts-53da1ce4/package.json
starter/frontend/node_modules/.staging/react-scripts-53da1ce4/README.md
starter/frontend/node_modules/.staging/react-scripts-53da1ce4/bin/react-scripts.js
starter/frontend/node_modules/.staging/react-scripts-53da1ce4/config/env.js
starter/frontend/node_modules/.staging/rehype-parse-5ce7bbb5/errors.json
starter/frontend/node_modules/.staging/rehype-parse-5ce7bbb5/package.json
starter/frontend/node_modules/.staging/require-main-filename-e92a993b/.npmignore
starter/frontend/node_modules/.staging/require-main-filename-e92a993b/.travis.yml
starter/frontend/node_modules/.staging/require-main-filename-e92a993b/index.js
starter/frontend/node_modules/.staging/require-main-filename-e92a993b/LICENSE.txt
starter/frontend/node_modules/.staging/require-main-filename-e92a993b/package.json
starter/frontend/node_modules/.staging/require-main-filename-e92a993b/README.md
starter/frontend/node_modules/.staging/require-main-filename-e92a993b/test.js
starter/frontend/node_modules/.staging/semver-59553b1e/CHANGELOG.md
starter/frontend/node_modules/.staging/semver-59553b1e/LICENSE
starter/frontend/node_modules/.staging/semver-59553b1e/package.json
starter/frontend/node_modules/.staging/semver-59553b1e/range.bnf
starter/frontend/node_modules/.staging/semver-59553b1e/README.md
starter/frontend/node_modules/.staging/semver-59553b1e/semver.js
starter/frontend/node_modules/.staging/semver-59553b1e/bin/semver
starter/frontend/node_modules/.staging/semver-7323e6d7/CHANGELOG.md
starter/frontend/node_modules/.staging/semver-7323e6d7/LICENSE
starter/frontend/node_modules/.staging/semver-7323e6d7/package.json
starter/frontend/node_modules/.staging/semver-7323e6d7/range.bnf
starter/frontend/node_modules/.staging/semver-7323e6d7/README.md
starter/frontend/node_modules/.staging/semver-7323e6d7/semver.js
starter/frontend/node_modules/.staging/semver-7323e6d7/bin/semver
starter/frontend/node_modules/.staging/semver-bb3f77a5/CHANGELOG.md
starter/frontend/node_modules/.staging/semver-bb3f77a5/LICENSE
starter/frontend/node_modules/.staging/semver-bb3f77a5/package.json
starter/frontend/node_modules/.staging/semver-bb3f77a5/range.bnf
starter/frontend/node_modules/.staging/semver-bb3f77a5/README.md
starter/frontend/node_modules/.staging/semver-bb3f77a5/semver.js
starter/frontend/node_modules/.staging/semver-bb3f77a5/bin/semver
starter/frontend/node_modules/.staging/source-map-932f5d35/LICENSE
starter/frontend/node_modules/.staging/source-map-932f5d35/package.json
starter/frontend/node_modules/.staging/source-map-932f5d35/README.md
starter/frontend/node_modules/.staging/source-map-932f5d35/source-map.js
starter/frontend/node_modules/.staging/source-map-96e825ca/LICENSE
starter/frontend/node_modules/.staging/source-map-96e825ca/package.json
starter/frontend/node_modules/.staging/source-map-96e825ca/README.md
starter/frontend/node_modules/.staging/source-map-96e825ca/source-map.js
starter/frontend/node_modules/.staging/source-map-dc56c857/LICENSE
starter/frontend/node_modules/.staging/source-map-dc56c857/package.json
starter/frontend/node_modules/.staging/source-map-dc56c857/README.md
starter/frontend/node_modules/.staging/source-map-dc56c857/source-map.js
starter/frontend/node_modules/.staging/stream-http-3201f0e9/.airtap.yml
starter/frontend/node_modules/.staging/stream-http-3201f0e9/.travis.yml
starter/frontend/node_modules/.staging/stream-http-3201f0e9/ie8-polyfill.js
starter/frontend/node_modules/.staging/stream-http-3201f0e9/index.js
starter/frontend/node_modules/.staging/stream-http-3201f0e9/package.json
starter/frontend/node_modules/.staging/strip-ansi-dc3f0b26/index.d.ts
starter/frontend/node_modules/.staging/strip-ansi-dc3f0b26/index.js
starter/frontend/node_modules/.staging/strip-ansi-dc3f0b26/license
starter/frontend/node_modules/.staging/strip-ansi-dc3f0b26/package.json
starter/frontend/node_modules/.staging/strip-ansi-dc3f0b26/readme.md
starter/frontend/node_modules/.staging/terser-webpack-plugin-72aa1239/CHANGELOG.md
starter/frontend/node_modules/.staging/terser-webpack-plugin-72aa1239/LICENSE
starter/frontend/node_modules/.staging/terser-webpack-plugin-72aa1239/package.json
starter/frontend/node_modules/.staging/terser-webpack-plugin-72aa1239/README.md
starter/frontend/node_modules/.staging/through2-d4db2c8e/LICENSE.md
starter/frontend/node_modules/.staging/through2-d4db2c8e/package.json
starter/frontend/node_modules/.staging/through2-d4db2c8e/README.md
starter/frontend/node_modules/.staging/through2-d4db2c8e/through2.js
starter/frontend/node_modules/.staging/webpack-8df5104f/LICENSE
starter/frontend/node_modules/.staging/webpack-8df5104f/package.json
starter/frontend/node_modules/.staging/webpack-8df5104f/README.md
starter/frontend/node_modules/.staging/webpack-dev-server-c2a1a4ff/CHANGELOG.md
starter/frontend/node_modules/.staging/webpack-dev-server-c2a1a4ff/LICENSE
starter/frontend/node_modules/.staging/webpack-dev-server-c2a1a4ff/package.json
starter/frontend/node_modules/.staging/webpack-dev-server-c2a1a4ff/README.md
starter/frontend/node_modules/.staging/y18n-d56a1cd3/CHANGELOG.md
starter/frontend/node_modules/.staging/y18n-d56a1cd3/index.js
starter/frontend/node_modules/.staging/y18n-d56a1cd3/LICENSE
starter/frontend/node_modules/.staging/y18n-d56a1cd3/package.json
starter/frontend/node_modules/.staging/y18n-d56a1cd3/README.md
starter/frontend/node_modules/.staging/yallist-0523efd3/iterator.js
starter/frontend/node_modules/.staging/yallist-0523efd3/LICENSE
starter/frontend/node_modules/.staging/yallist-0523efd3/package.json
starter/frontend/node_modules/.staging/yallist-0523efd3/README.md
starter/frontend/node_modules/.staging/yallist-0523efd3/yallist.js
starter/frontend/node_modules/.staging/yargs-1b018ae7/CHANGELOG.md
starter/frontend/node_modules/.staging/yargs-1b018ae7/package.json
starter/frontend/node_modules/.staging/yargs-214f06ea/CHANGELOG.md
starter/frontend/node_modules/.staging/yargs-214f06ea/package.json
starter/frontend/node_modules/.staging/yargs-parser-e4c989ae/CHANGELOG.md
starter/frontend/node_modules/.staging/yargs-parser-e4c989ae/index.js
starter/frontend/node_modules/.staging/yargs-parser-e4c989ae/package.json
